body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#lewy {
    width: 25%;
}

//lewy ul
//lewy ul li
#lewy ul li {
    list-style: none;
}

//lewy ul li a
#lewy ul li a {
    text-decoration: none;
    color: black;
}

#prawy {
    width: 75%;
}

table,
td,
th {
    border: solid 1px black;
}